.promo-card-wrapper {
  padding: 40px 16px 0;
  .promo-card-content {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;

    @media only screen and (min-width: 1200px) {
      padding: 40px;
    }

    h2 {
      font-weight: 300;
      color: #fff;

      @media only screen and (min-width: 1200px) {
        font-size: 35px;
      }
    }

    p {
      font-weight: 300;
      color: #fff;
      margin: 25px 0;

      @media only screen and (min-width: 1200px) {
        width: 245px;
        line-height: 20px;
      }
    }

    button {
      background-color: #fff;
      border-radius: 20px;
      width: 200px;
      height: 40px;
      border: none;
      cursor: pointer;
      color: #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    .promo-products-wrapper {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      gap: 20px;
      margin-top: 40px;

      @media only screen and (min-width: 1200px) {
        justify-content: flex-end;
        gap: 20px;
        overflow: hidden;
      }
    }
  }
}
