.basic-product-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media only screen and (min-width: 1200px) {
    gap: 10px;
  }

  .basic-product-card-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }

  h3 {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }
}
