.info-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 16px;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    padding: 50px 0;
    width: 70%;
    margin: auto;
  }
}

.location-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 16px 0;

  @media only screen and (min-width: 1200px) {
    gap: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    text-align: center;
  }

  .location-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
    }
  }
}

.popular-categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 16px 0;

  @media only screen and (min-width: 1200px) {
    gap: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    text-align: center;
  }

  .categori-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
}

.brands-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 40px 16px 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

.brand-wrapper {
  flex: 0 0 auto;
  width: 100%; // mobilni

  @media (min-width: 768px) {
    width: 25%; // prikazuje 4 u redu na desktopu
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-right {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #cc945a;
  border: none;
  padding: 8px;
  border-radius: 20px;
  height: 80px;
  cursor: pointer;
  color: white;
  z-index: 2;

  &.right {
    position: absolute;
    right: 0px;
  }
}
