.all-products-wrapper {
  padding: 40px 16px 0;

  .tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .tab-buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: #f7f7f7;
        border: none;
        width: 300px;
        height: 40px;
        cursor: pointer;

        &.active {
          border-radius: 20px;
          background-color: #ca965c;
          color: #fff;
          z-index: 999;
        }

        &:nth-child(1) {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        &:nth-child(3) {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        &:not(:last-child) {
          margin-right: -10px;
        }
      }
    }
  }
}

.product-scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .scroll-btn {
    background-color: #cc945a;
    border: none;
    padding: 8px;
    border-radius: 20px;
    height: 80px;
    cursor: pointer;
    color: white;
    z-index: 2;

    &.right {
      position: absolute;
      right: 0px;
    }
  }

  .product-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 16px 0;

    @media (min-width: 1024px) {
      width: 95%;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      flex: 0 0 auto;
      width: 100%;
    }

    @media (min-width: 768px) {
      > * {
        width: calc(100% / 2 - 12px);
      }
    }

    @media (min-width: 1024px) {
      > * {
        width: calc(100% / 4 - 12px);
      }
    }
  }
}
